# Virtual environment
venv*/ 
.venv/

# Python cache
__pycache__/
*.py[cod]

# Logs
*.log

# Database
*.sqlite3

# Django static/media
/media/
staticfiles/

# Secrets
.env
.env.*
secrets.json
*.pem
*.key
*.p12
*.pfx

# System
.DS_Store
.idea/
.vscode/

# Node modules (if ever used)
node_modules/

# Test cache
.coverage
.pytest_cache/